/* latin-ext */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v7/gNMHW3x8Qoy5_mf8uWMLMIqK_Q.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local('Merienda'), local('Merienda-Regular_0_wt'), url(https://fonts.gstatic.com/s/merienda/v7/gNMHW3x8Qoy5_mf8uWMFMIo.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body{
	 font-family: 'Merienda';font-size: 15px;
}
.nav-item{
	padding-right: 12px;
	padding-left: 12px;
}
.flag{
	max-height: 20px;
	max-width: 20px;
	margin-top: 10px;
}
.nav-link.active{
	background-color: lightgrey !important;
}

.reserve-container{
	position: relative;
}
.card-body{
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}
.card-body:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}

.reserve-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-reserve{
	opacity: 0.4;
	max-height: 750px;
}

.carousel-caption{
	top: 40%;
}

.img-slider{
	min-height: 320px;
}

.navMenu{
	padding-top: 75px;
	padding-bottom: 20px;
}

.card-img-top{
	height: 200px;
}

.map{
	height: 320px;
}

@media screen and (max-width : 1920px){
  .only-mobile{
  visibility:hidden;
  }
}

@media screen and (max-width : 506px){

 .only-mobile{
  visibility:visible;
  }
}

.social {
  height: 36px;
  width: 36px;
  text-decoration: none;
}
.social-icon {
	text-decoration: none;
}


footer{
	/* position: fixed;
	bottom: 0px;
	padding-top: 20px; */
  height: 50px;
}

#content {
  min-height: calc(100vh - 70px);
  padding: 40px 40px 0 40px;
}
